<html>
    <head>
        <title>axla blog</title>
    </head>
    <body>
        <h1>Mi primer blog</h1>
        <h2>Alexandra</h2>
        <h3>Otro subtitulo</h3>
        <em>Alexandra GV</em>
        <br>
        <a https://github.com/AxlaLive/my-first-blog></a>
        <strong>Django & Python</strong>
        <p>Python</p>
        <ul><li>Primer element</li><li>Segundo element</li></ul>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
        <p>Django</p>
    </body>
</html>